<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a480.fernando.hackathon">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SponsorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InscriptionInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InscriptionFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LegalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SentSuggestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SuccessfulRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccreditationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AugmentedRealityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServicesMapActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notifications.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ServiceMapDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServiceRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacilitiesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacilitiesMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacilityMapDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacilityRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocumentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeakersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeakerInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AskSpeakerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BreakingNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BreakingNewInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WaitMatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CancelMatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".NoConnectionActivity"></activity>
    </application>

</manifest>